.slide-movies {
    overflow: hidden;
    position: relative;
    width: 100%;
    transform: translateY(200px);
    transition: 2s;
    box-shadow: black 0px 30px 100px 140px;
    .cards-content {
        width: 400%;
        height: 100%;
        background-color: black;
        display: flex;
        .block-left {
            position: absolute;
            right: 0%;
            top: 26%;
            background-color: rgb(0, 0, 0);
            width: 60px;
            height: 370px;
            z-index: 1;
            .left {
                z-index: 9999999;
                position: absolute;
                top: 40%;
                right: -30%;
                padding: 20px;
                color: rgb(255, 0, 0);
                font-size: 4rem;
                cursor: pointer;
            }
        }

        .block-right {
            position: absolute;
            left: 0%;
            top: 26%;
            background-color: rgb(0, 0, 0);
            width: 60px;
            height: 370px;
            z-index: 1;
            .right {
                z-index: 9999999;
                position: absolute;
                top: 40%;
                left: -35%;
                color: rgb(255, 0, 0);
                font-size: 4rem;
                cursor: pointer;
                padding: 20px;
            }
        }
        .combo-cards {
            display: flex;
            margin-top: 140px;
            transition: 0.9s ease-in-out;

            .card {
                width: 290px;
                height: 350px;
                transform: translateX(60px);
                display: flex;
                flex-direction: column;
                margin: 0px 0px 0px 20px;

                img {
                    width: 100%;
                    height: 90%;
                    border-radius: 4px;
                }

                h4 {
                    text-align: center;
                    width: 100%;
                    margin-top: 10px;
                    font-size: 1.2rem;
                    color: white;
                }
            }
        }
    }
}
